* {
  top: 0
}
body {
  position: relative;
  margin:0 auto;
  background-image: url(../images/GrassTile.jpg);
  height: 450px;
}
#top {
  position: relative;
  width: 100%;
  text-align: center;
  height: 50px;
  margin: 0;
}
.decider {
  display: inline-block;
  font-family: 'Luckiest Guy', cursive;
  margin: 0;
  font-size: 40px;
  text-align: center;
  padding: 0;
}
ul {
  margin: 0;
}
#leftChoice {
  position: absolute;
  display: inline-block;
  -webkit-text-stroke: 2px black;
  color: rgb(255, 255, 255);
  width: 250px;
  margin:0;
  top: 100px;
  left: 26%;

}
#rightChoice {
  position: absolute;
  display: inline-block;
  -webkit-text-stroke: 2px black;
  color: rgb(255, 255, 255);
  width: 250px;
  margin: 0;
  top: 100px;
  right: 27%;

}
h1 {
  display: inline-block;
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  color: rgb(254, 207, 42);
  -webkit-text-stroke: 2px rgb(48, 93, 195);
  margin: 10px;
}
h2 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 29px;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
h3 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 35px;
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.scores {
  position: relative;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 40px;
  height: 50px;
  -webkit-text-stroke: 2px rgb(10, 18, 34);
  top: 220px;
}
.score-box1 {
  position: absolute;
  display: inline-block;
  width: 40%;
  bottom: -20px;
  left: 0;
}

.score-box2 {
  position: absolute;
  display: inline-block;
  width: 40%;
  right: 0;
  bottom: -20px;
}

.monsterBox1 {
  position: absolute;
  display: inline-block;
  left: 11%;
  width: 20%;
  height: 100%;
  top: 10px;
}
.monsterBox2 {
  position: absolute;
  right: 13%;
  width: 20%;
  height: 100%;
  top: 10px;
}
.select1 {
  margin: 10px 0;
}
.select2 {
  margin: 5px 0;
}
#game-area {
  position: absolute;
  top: 50px;
  height: 400px;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-image: url(../images/GrassBackground.png);

}
#player1 {
  position: absolute;
  display:inline-block;
  float: left;
  bottom: 0;
  left: 0;
  margin-left: -10px;
  width: 240px;

}
#pic1 {
  width: 75%;
  height: auto;
}
li {
  list-style: none;
  display: inline-block;
}

#arena {
  width: 500px;
  margin: 0 auto;
}

#player2 {
  position: absolute;
  display:inline-block;
  float: right;
  width: 240px;
  bottom: 0;
  right: 0;

}
#pic2 {
  width: 75%;
  height: auto;
}

#bottom {
  position: relative;
  top: 353px;
  height:100px;
  width: 100%;
  font-family: 'Luckiest Guy', cursive;
  padding: 20px 0;
}

#instructions {
  font-family: 'VT323', ;
  position: relative;
  color: black;
  font-size: 30px;
  top: 0px;
  width: 40%;
  margin: 0 auto;
  text-align: left;
  padding: 20px 50px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
}
#ending {
  font-family: 'VT323', ;
  position: relative;
  color: black;
  font-size: 40px;
  top: 0;
  width: 40%;
  height: 200px;
  margin: 0 auto;
  text-align: left;
  padding: 5px 50px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}
#ending h5{
  margin: 20px auto;
  padding-bottom: 10px;
}
#button {
  height: 50px;
  width: 200px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 40px;
  font-family: 'VT323', ;
}

#disclaimer {
  color: white;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  width: 600px;
  margin:0 auto;
}
#disclaimer1 {
  position: relative;
  color: white;
  top: 700px;
  font-size: 30px;
  text-align: center;
  width: 600px;
  margin:0 auto;
}

@media (max-width: 1100px) and (min-width: 451px) {
  #top {
    margin-top: 20px;
  }
  #top img{
    display: none;
  }
  #logoleft {
    float: left;
  }
  #logoright {
    float: right;
    transform: scaleX(-1);
  }
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 5vw;
  }
  .scores {
    font-size: 5vw;
  }

  #player1 {
    margin-left: 10px;
    width: 100px;
  }
  #player1 img {
    width: 100%;
  }
  #arena {
    width: 100%;
    height: 200px;
    text-align: center;
  }
  #player2 {
    width: 100px;
    right: 13px;
  }
  #player2 img {
    width: 107%;
  }
  .decider {
    font-size: 4vw;
  }
  #playerText {
    width: 100%;
    text-align: left;
  }
  #computerText {
    width: 100%;;
    right: 5%;
    text-align: right;
  }
  #instructions {
    font-size: 3vw;
    width: 40%;
    padding: 20px 20px;
  }
  #ending {
    font-size: 5vw;
    top: 80px;
    width: 40%;
    height: 40%;
    padding: 5px 20px;
  }
  #ending h5{
    margin: 10px auto;
    padding-bottom: 10px;
  }
  #button {
    height: 30px;
    width: 120px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 25px;
    font-family: 'VT323', ;
  }
  #disclaimer {
    top: 530px;
    width: 100%;
  }
  #disclaimer1 {
    position: relative;
    color: white;
    top: 700px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin:0 auto;
  }
  .select1 {
    width: 140%;
    padding: 4px 0;
  }
  .select2 {
    width: 140%;
  }
  .monsterBox1 {
    margin-left: 0;
    left: 17%;
    top: 12%;
  }
  .monsterBox2 {
    top: 13%;
    right: 27%;
  }
}
/*
/////////   THIS IS FOR THE INTRO PAGE!!!! //////////////////
*/

#dialogue {
  position: relative;
  margin:0 auto;
  width: 600px;
  height: 400px;
  margin-top: 300px;
}
#iconBox {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 60px;
  top: 76px;
}
#iconBox img {
  height: 100px;
  width: 100px;
}
.element {
  font-family: 'VT323', ;
  font-size: 30px;
  position: absolute;
  width: 415px;
  height: 400px;
  top: 40px;
  margin-left: 90px;
  text-align: left;
}
